---
title: "{{ title }}"
date: {{ date_published }}
# post thumb
images:
    - "{{ thumbnail_filename }}"
#author
author: "Matt Vaughn"
# description
description: "{{ description }}"
# Taxonomies
categories: [{% for category in categories %} "{{ category }}", {% endfor %}]
tags: [{% for tag in tags %} "{{ tag }}", {% endfor %}]
type: "regular" # available type (regular or featured)
draft: false
---
