<hr>
<div class="container-fluid"><div class="row">{% for anchor in anchors -%}
    <div class="col-xs-auto" style="margin-top: 8px;">
    <a href="/sc22/#{{ anchor }}" class="btn btn-dark btn-lg active" role="button" aria-pressed="true">{{ anchor }}</a>
    </div>
{% endfor -%}</div></div>
<hr>
