---
title: "{{ title }}"
date: {{ date_published }}
# post thumb
images:
    - "{{ thumbnail_filename }}"
author: "Brendan Bouffler"
# description
description: "{{ description }} (reposted from HPC Tech Shorts Youtube channel)"
video_id: "{{ id }}"
layout: "video"
# Taxonomies
categories: [{% for category in categories %} "{{ category }}", {% endfor %}]
tags: [{% for tag in tags %} "{{ tag }}", {% endfor %}]
type: "regular" # available type (regular or featured)
draft: false
---
