# Sync Blog Channel
name: Sync AWS Blog Channels
on:
  schedule:
    - cron:  '30 2,13 * * *'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
# Allow one concurrent deployment
concurrency:
  group: "sync"
  cancel-in-progress: true

# Default to bash
defaults:
  run:
    shell: bash

jobs:
  Sync-Blog-Channels:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v3
      with:
        ref: main
        token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
      env:
        GITHUB_TOKEN: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
    - name: Setup Ruby interpreter
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.1.2'
    - name: Install dependencies
      run: cd scripts/pull-blog-info && bundle install
    - name: Sync AWS Blog channel
      run: cd scripts/pull-blog-info && ruby pull-aws-blog-data-filtered.rb
    - name: Sync HPC Blog channel
      run: cd scripts/pull-blog-info && ruby pull-hpc-blog-data.rb
    - name: Setup Python interpreter
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: pip install -r scripts/requirements.txt
    - name: Run sync script for AWS Blog
      run: python -m scripts.blog_json_to_posts --source aws scripts/pull-blog-info/news-blog-posts.json
    - name: Run sync script for HPC Blog
      run: python -m scripts.blog_json_to_posts --source hpc scripts/pull-blog-info/blog-posts.json
    - name: Add and commit
      uses: EndBug/add-and-commit@v9
      env:
        GITHUB_TOKEN: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
      with:
        message: 'Automatic sync with AWS News and Blog channels'
        add: '["content/english/post", "assets/images/post"]'
